p1 {
  color:orange;
  position:absolute;
  text-align: center;

}

h1 {
  color:purple;
  text-align: center;
}

h3 {
  color: purple;
  position: relative;


}

l1{
  color:red;
  position: absolute;
  margin-top: 160px;
  text-align: center;
  text-decoration: none!important;
}

.noDecoration, a:link, a:visited{
  text-decoration: none;
}

nav{
  background:#555;
}

nav ul li{
  background:#999;
  color:white;
  list-style-type: none;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;

}

nav ul li a{
  color: white;
  text-align: center;
}
